<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFrag"
    class="sticky-nav">
        <div class="header-container">
            <div class="navbar-inner">
                <div class="logo navbar-left">
                    <a title="Atlantis">Atlantis</a>
                </div>
                <nav class="navbar-right">
                    <ul class="menu">
                        <li>Work</li>
                        <li>About Me</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</html>